Flask==0.10.1
Flask-Coffee==0.3
Flask-FlatPages==0.5
Jinja2==2.7.2
Markdown==2.3.1
MarkupSafe==0.18
PyYAML==3.10
SQLAlchemy==0.9.1
Werkzeug==0.9.4
itsdangerous==0.23
pep8==1.4.6
pyjade==2.0.3
six==1.5.2
wsgiref==0.1.2
