h1, h2, h3, h4, p, small, strong {
font-family: 'Bitter', serif;
}
a {
	color: #0056d2;
}
.tealeaf {
 	fill: #333;
	color: #66bb50;
}
.tealeaf:hover {
	fill: #66bb50;
}
h1.magazin {
	margin-top: 60px;
	color: #CC0201;
}
h1.tealeaf {
	margin-top: 70px;
	color: #66bb50
}
.magazin {
 	fill: #333;
 	color: #CC0201
}
.magazin:hover {
	fill: #66bb50;
}
