/*map fundamentals*/
body {
  background-color: whitesmoke;
}
.waterways {
  fill: none;
  stroke: steelblue;
}
.stream {
  stroke: darkblue;
}
.ditch {
  opacity: 0.6;
}
.drain {
  opacity: 0.3;
}
.roads  {
  opacity: 0.1;
  stroke: darkred;
  fill: none;
}
.cycleway {
  fill: none;
  stroke: darkgreen;
  opacity: 1;
}
.residential {
  fill: none;
  stroke: crimson;
  opacity: 1;
}
.places {
  fill: chocolate;
  opacity: 0.8;
}
.rivers {
  fill: none;
  stroke: steelblue;
}
.arc path {
  stroke: #fff;
}
.hidden {
display: none;
}
.graticule {
  fill: none;
  stroke: #333;
  opacity: 0.4;
}
#s_americaState,
#indiaState,
#taiwanState,
#indiaCity {
  color: crimson;
}
/*india map*/
.india  {
  fill: darkgrey;
  opacity: 0.6;
  stroke: darkred;
}
.india-places  {
  fill: none;
  stroke: blue;
}
/*taiwan map*/
.taiwan {
  fill: darkgrey;
  opacity: 0.6;
  stroke: darkred;
}
/*s_america map*/
.s_america,
.world {
  fill: darkgrey;
  opacity: 0.6;
  stroke: darkred;
}
.Corrientes,
.Misiones,
.RioGrandedoSul,
.Paran,
.SantaCatarina,
.MatoGrossodoSul {
  fill: lightgreen;
}