extends base
block append content 
	.col-md-4
		h1 Ein Atlas für den Tee
		p D3.js basierte Kartographie der Tee Anbaugebiete.  
		a(href=url_for('teeatlas')) \\Link
	.col-md-4
		h1 Linksammlung Teeatlas
		p Liste mit urls zu Themen des Tees
		a(href=url_for('teeatlas')) \\Link
	.col-md-4
		h1 Mapping stuff
		p d3.js prototypes