extends base
block append content 
	.col-md-4
		a(href=url_for('teeatlas'))
			h1 Ein Atlas für den Tee
	.col-md-4
		a(href=url_for('teeatlas'))
			h1 Linksammlung Teeatlas
	.col-md-4
		a(href=url_for('teeatlas'))
			h1 Mapping stuff